.header {
  @include flex-space-between;
  align-items: center;
  padding: 45px 10px 0;

  .logo {
    display: block;
    width: 142px;
    height: 45px;

    img {
      width: 100%;
      height: auto;
    }
  }
}
