@mixin hover($_property, $_toValue) {
  transition: #{$_property} 0.3s;
  &:hover {
    #{$_property}: $_toValue;
  }
}

@mixin flex-space-between {
  display: flex;
  justify-content: space-between;
}

@mixin style-text-placeholder {
  &::-webkit-input-placeholder,
  &::-moz-placeholder,
  &:-ms-input-placeholder {
    font-family: $main-fonts;
    font-size: 16px;
    color: $input-placeholder-color;
  }
}
