$bg-white-theme: #fff;
$main-fonts: "Raleway", sans-serif;
$nav-link-color: #212121;
$btn-bg: #ff5a5f;
$hover-nav-link: #ff5a5f;
$form-sub-title-color: #484848;
$form-item-border-color: #ebebeb;
$form-item-text-color: #212121;
$input-placeholder-color: #a6a6a6;
$btn-color: #fff;
$btn-bg: #ff5a5f;
$error-color: #ff5a5f;
